<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel= "stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <body>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <p class="pl-4 pr-4 pt-3">
                    View positions and orbits of Solar System planets on any day.
                    <a target="top" href="https://github.com/wdecay/astr-302-w21-project/blob/master/README.org">
                        More info
                    </a>
                </p>
                <div class="d-flex align-items-center pl-4 pr-4 pt-4 pb-3 wait">
                    <strong>Loading...</strong>
                    <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
                </div>
                <div class="row mx-auto">
                    <div class="span5 col-md-5" id="sandbox-container"></div>
                </div>
                <div class="row mx-auto p-4">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action active">
                            Inner planets
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">
                            Inner planets+Jupiter
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">
                            All planets
                        </a>
                      </div>
                </div>
            </div> 
            <div class="col-lg-9" style="background: white;">
                <img id="plot" class="img-fluid float-left img-responsive" />

            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            var plot = $('#plot');
            date = null;
            n = 4;

            function update() {
                $('.wait').css('visibility', 'visible');
                plot.attr('src', 'ss.png?date=' + date + '&n=' + n).css({'opacity': 0.7});
            }

            $('#sandbox-container').datepicker(
                {
                    'todayBtn' : false,
                    'todayHighlight': true
                }
            ).on('changeDate', function(e) {
                newdate = [
                    e.date.getFullYear(),
                    ('0' + (e.date.getMonth() + 1)).slice(-2),
                    ('0' + e.date.getDate()).slice(-2)
                ].join('-');
                if (date != newdate) {
                    date = newdate;
                    update();
                }
            }).datepicker("setDate", new Date());

            $('.list-group').children('a').on('click', function(e) {
                $('.list-group').children('a').removeClass('active');
                $(e.target).addClass('active');
                
                idx = $(e.target).index();
                if (idx == 0) {
                    newn = 4
                } else if (idx == 1) {
                    newn = 5
                } else {
                    newn = 8
                }
                
                if (n != newn) {
                    n = newn;
                    update();
                }

                e.preventDefault();
            });

            plot.on("load",  function() {
                plot.css({'opacity': 1});
                $('.wait').css('visibility', 'hidden');
            });
        });
    </script>
</body>
</html>
